
*.pyc

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.sqlite
*.sqlite3
db.sqlite

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Test / mock artifacts
.mock/
